
      <div class="page-content">
      <div class="container">
                <!-- Banner Area Start -->
                <div class="banner-user">
                    <div class="banner-content">
                        <div class="media">
                              <%= form_for @user, url: {action: "update"}, html: { multipart: true } do |f| %>
                            <div class="item-img show-image-profile" >
                              <%= profile_avatar_select(@user) %>
                              <br />
                            </div>
                            <div class="media-body">
                            <br />
                              <label class="btn btn-primary">
                                  Upload Image
                                  <span style="display: none">
                                    <%= f.file_field :avatar, onChange: 'loadFile(event)', id: "fileUploader" %>
                                  </span>
                                </label>
                              <br />
                                <div class="item-subtitle">Update your bio:</div>
                                <ul class="item-social">
                                    <span>
                                    <%= f.text_area :bio, label: false, rows: 4 %>
                                  </span>
                                </ul>
                            </div>
                                <%= f.submit "Update Profile", class: 'btn btn-success' %>
                                <% end %>
                        </div>
                    </div>
                </div>
              </div>








