      <div class="page-content">
      <div class="container">
                <!-- Banner Area Start -->
                <div class="banner-user">
                    <div class="banner-content">
                        <div class="media">
                            <div class="item-img show-image-profile" >
                              <%= profile_avatar_select(@user) %>
                            </div>
                            <div class="media-body">
                                <h3 class="item-title"><%= @user.user_name %></h3>
                                <div class="item-subtitle"><%= @user.bio %></div>
                                <ul class="item-social">
                                  <%= render "/shared/follows" %>
                                </ul>
                                <ul class="user-meta">
                                    <li>Posts: <span><%= @user.posts.count %></span></li>
                                    <li>Followers: <span id="js-followers-count" following-ppl="<%= @user.followers.count %>"  class="js-followers"><%= @user.followers.count %></span></li>
                                    <li>Following: <span id="js-following-count" following-ppl="<%= @user.following.count %>"  class="js-following"><%= @user.following.count %></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                </div>




<% @posts.each do |post| %>
  <%= render 'posts/post', post: post %>
<% end %>
